/* projects table */

div.tableWrp{
	width: 100%;
    position: relative;
    display: inline-block;
}

div.tableWrp div.filters{
	float: left;
    width: 100%;
    background: #e8eaeb;
    border-top: 1px solid #dee1e7;
    border-bottom: 1px solid #dee1e7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

div.tableWrp div.filters p{
	float: left;
    font-size: 16px;
    color: #000000;
    margin-top: 12px;
    font-weight: 500;
    margin-right: 43px;
}

div.tableWrp div.filters div.dropdown,
div.tableWrp div.filters div.inputWrp.date{
	float:left;
	height:40px;
}
div.tableWrp div.filters div.dropdown.date{
	width:140px;
	margin-left:15px;
}

div.tableWrp div.filters div.inputWrp.date input{
	height:100%;	
	width:140px;
	margin-left:15px;
}

div.tableWrp div.filters div.dropdown.status{
	width:156px;
	margin-left:15px;
}

div.tableWrp div.filters a.blueDarkBtn{
	width:90px;
	float:left;
	margin-left:15px;
}

div.tableWrp div.filters div.right{
	float:right;
}

div.tableWrp div.filters div.right a.grayBtn{
	float:left;
	width:150px;
	margin-right:15px;
	position:relative;
}

div.tableWrp div.filters div.right a.grayBtn span{
	color:#333c48;
	font-weight: 500;
	font-size:13px;
	text-transform: capitalize;
}

div.tableWrp div.filters div.right a.grayBtn i{
	float: right;
    margin-top: 12px;
    margin-right: 8px;
    width: 19px;
    height: 19px;
    background: url(../img/sprite.png) scroll -109px -518px no-repeat;
}


div.tableWrp div.filters div.right div.pagination{
	float: right;
    width: 170px;
    height:30px;
    margin-top: 5px;
}

div.tableWrp div.filters div.right div.pagination a.arrowLeft,
div.tableWrp div.filters div.right div.pagination a.arrowRight{
	float:left;
	width:30px;
	height:30px;
	background:#3a424e;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

div.tableWrp div.filters div.right div.pagination a.arrowLeft:hover,
div.tableWrp div.filters div.right div.pagination a.arrowRight:hover{
	background:#555c67;
}

div.tableWrp div.filters div.right div.pagination a.arrowLeft:active,
div.tableWrp div.filters div.right div.pagination a.arrowRight:active{
	background:#222832;
}

div.tableWrp div.filters div.right div.pagination a.arrowLeft i{
	float: left;
    width: 12px;
    height: 12px;
    background: url(../img/sprite.png) scroll -112px -366px no-repeat;
    margin-top: 9px;
    margin-left: 8px;
}


div.tableWrp div.filters div.right div.pagination a.arrowRight i{
	float: left;
    width: 12px;
    height: 12px;
    background: url(../img/sprite.png) scroll -112px -386px no-repeat;
    margin-top: 9px;
    margin-left: 8px;
}

div.tableWrp div.filters div.right div.pagination div.center{
	float:left;
	width:100px;
	text-align: center;
    line-height: 30px;
}

div.tableWrp div.filters div.right div.pagination div.center a{
	font-size:16px;
	color:#6e6e6e;
	font-weight:500;
}

div.tableWrp div.filters div.right div.pagination div.center a:hover{
	color:#373e50;
}
div.tableWrp div.filters div.right div.pagination div.center a:active{
	color:black;
}

div.tableWrp div.filters div.right div.pagination div.center a.active{
	color:#373e50;
}

div.tableWrp div.table{
	float:left;
	width:100%;
	margin-top:4px;
}
div.tableWrp div.table.inner{
	margin-top:0;
}

div.tableWrp div.table div.header{
	float:left;
	width:100%;
	color:#5a687a;
	font-size:14px;
	height:90px;
	background:#e8eaeb;
	/* padding-left:10px; */
	/* padding-right:10px; */
	border-top:1px solid #dee1e7;
	border-bottom:1px solid #dee1e7;
	
	display: table;
    table-layout: fixed;
}

div.tableWrp div.table.inner div.header{
	height:48px;
	padding-right: 15px;
}

div.tableWrp div.table div.header > span,
div.tableWrp div.table div.header > div,
div.tableWrp div.table div.header > a{
	font-weight:500;
	display: table-cell;
    vertical-align: middle;
    border-right:1px solid #d5d9e1;
    padding-left:5px;
    position:relative;
}


div.tableWrp div.table div.content div.row  > span,
div.tableWrp div.table div.content div.row > div{
	display: table-cell;
    vertical-align: middle;
    border-right:1px solid #d5d9e1;
    padding-left:5px;
    padding-right:5px;
}

div.tableWrp div.table div.header div.checkbox,
div.tableWrp div.table div.content div.row div.checkbox{
	width:5%;
	padding-left:20px;
}



div.tableWrp div.table div.header span.number,
div.tableWrp div.table div.content div.row span.number{
	width: 3%;
    padding: 0;
    text-align: center;
}

div.tableWrp div.table div.header a.date,
div.tableWrp div.table div.content div.row span.date{
	width:8%;
}

div.tableWrp div.table div.header span.projectName,
div.tableWrp div.table div.content div.row span.projectName{
	width:25%;
}

div.tableWrp div.table div.content div.row span.projectName{
	font-weight:500;
}

div.tableWrp div.table div.header span.companyName,
div.tableWrp div.table div.content div.row span.companyName{
	width:17%;
}

div.tableWrp div.table div.header span.projectManager,
div.tableWrp div.table div.content div.row span.projectManager{
	width:17%;
}

div.tableWrp div.table div.header a.products,
div.tableWrp div.table div.content div.row div.products{
	width:8%;
}

div.tableWrp div.table div.header div.status,
div.tableWrp div.table div.content div.row div.status{
	width:10%;
}

div.tableWrp div.table div.header div.settings,
div.tableWrp div.table div.content div.row div.settings{
	width:5%;
	border-right:0;
}

/* product table */
div.tableWrp div.table div.header span.productName,
div.tableWrp div.table div.content div.row span.productName{
	width:15%;
	font-weight:500;
}

div.tableWrp div.table div.header span.sn,
div.tableWrp div.table div.content div.row span.sn{
	width:5%;
}

div.tableWrp div.table div.header a.quantity,
div.tableWrp div.table div.content div.row span.quantity{
	width:5%;
}
div.tableWrp div.table div.header span.description,
div.tableWrp div.table div.content div.row span.description{
	width:17%;
}

div.tableWrp div.table div.header span.project,
div.tableWrp div.table div.content div.row span.project{
	width:12%;
	font-weight:500;
}

div.tableWrp div.table div.header span.picture,
div.tableWrp div.table div.content div.row div.picture{
	width:8%;
}



/* project edit mode */
div.tableWrp div.table.inner div.header span.number,
div.tableWrp div.table.inner div.content div.row span.number{
	width:8%;
}

div.tableWrp div.table.inner div.header span.productName,
div.tableWrp div.table.inner div.content div.row span.productName{
	width:25%;
	font-weight:500;
}

div.tableWrp div.table.inner div.header span.sn,
div.tableWrp div.table.inner div.content div.row span.sn{
	width:15%;
}

div.tableWrp div.table.inner div.header span.quantity,
div.tableWrp div.table.inner div.content div.row span.quantity{
	width:8%;
}

div.tableWrp div.table.inner div.header span.picture,
div.tableWrp div.table.inner div.content div.row div.picture{
	width:15%;
}

div.tableWrp div.table.inner div.header div.settings,
div.tableWrp div.table.inner div.content div.row div.settings{
	width:6%;
}

div.tableWrp div.table.inner div.header div.status,
div.tableWrp div.table.inner div.content div.row div.status{
	width:17%;
}



/* product edit mode */
div.tableWrp div.table.inner div.header span.thumb,
div.tableWrp div.table.inner div.content div.row span.thumb{
	width:10%;
}
div.tableWrp div.table.inner div.content div.row span.thumb{
	padding-left:20px;
}

div.tableWrp div.table.inner div.header span.fileName,
div.tableWrp div.table.inner div.content div.row span.fileName{
	width:25%;
	font-weight: 500;
}

div.tableWrp div.table.inner div.header span.fileSize,
div.tableWrp div.table.inner div.content div.row span.fileSize{
	width:16%;
	font-weight: 500;
}


div.tableWrp div.table.inner div.header span.download,
div.tableWrp div.table.inner div.content div.row span.download{
	width:12%;
}

div.tableWrp div.table.inner div.header div.delete,
div.tableWrp div.table.inner div.content div.row div.delete{
	width:12%;
	border-right:0;
}

div.tableWrp div.table.inner div.content div.row span.download a.greenBtn,
div.tableWrp div.table.inner div.content div.row div.delete a.grayDarkBtn{
	width:50px;
	float:left;
	margin-left: 14px;
}

div.tableWrp div.table.inner div.content div.row span.download a.greenBtn i{
	float: left;
    width: 26px;
    height: 23px;
    background: url(../img/sprite.png) scroll -230px -167px no-repeat;
    margin-left: 11px;
    margin-top: 8px;
}
div.tableWrp div.table.inner div.content div.row div.delete a.grayDarkBtn i{
	float: left;
    width: 26px;
    height: 28px;
    background: url(../img/sprite.png) scroll -230px -200px no-repeat;
    margin-left: 12px;
    margin-top: 7px;
}

a.picWrp{
	float:left;
	width:90px;
	height:65px;
	border:1px solid #d5dce6;
	position:relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    justify-content:center;
	-moz-justify-content:center;
 	-webkit-justify-content:center;
    
    background:white;
}

a.picWrp img{
	width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

a.picWrp i{
	position:absolute;
	bottom:-4px;
	right:-4px;
	width:25px;
	height:25px;
	background:#5d6371;
	border:2px solid white;
	text-align:center;
	color:white;
	padding-top:4px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	font-style: normal;
	font-weight: 500;
}

a.picWrp:hover var.zoom{
	position:absolute;
	top:10px;
	left:20px;
	width:45px;
	height:45px;
	background:rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	z-index:2;
}

a.picWrp:active var.zoom{
	background:rgba(0, 0, 0, 0.8);
}

a.picWrp var.zoom span{
	display:none;
}

a.picWrp:hover var.zoom span{
	display:block;
    margin: auto;
    margin-top: 11px;
    width: 22px;
    height: 22px;
    background: url(../img/sprite.png) scroll -108px -328px no-repeat;
}

div.tableWrp div.table div.header div.settings i{
	float: left;
    width: 20px;
    height: 20px;
    margin-left: 17px;
    background: url(../img/sprite.png) scroll -170px -569px no-repeat;
}
div.tableWrp div.table.inner div.header div.settings i{
	margin-left: 8px;
}

div.tableWrp div.table > div.content{
	float:left;
	width:100%;
	color:#5a687a;
	font-size:14px;
}

div.tableWrp div.table.inner > div.content{
	height: 240px;
    overflow-y: scroll;
}
   
div.tableWrp div.table div.content div.row{
	width:100%;
	float:left;
	height:80px;
	display: table;
    table-layout: fixed;
    background:#f8fafc;
    border-bottom: 1px solid #dee1e7;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}

div.tableWrp div.table div.content div.row:nth-child(2n+1){
	background:#f4f6f7;
}

div.tableWrp div.table div.content div.row div.products{
	position:relative;
	padding-right: 49px;
}

div.tableWrp div.table div.content div.row div.products span{
	text-align:center;
	width:100%;
	display:block;
}

div.tableWrp div.table div.content div.row div.products a.grayBtn{
	position: absolute;
    right: 11px;
    top: 23px;
    width: 35px;
    height: 35px;
}

div.tableWrp div.table div.content div.row div.products a.grayBtn i{
	float: left;
    width: 16px;
    height: 17px;
    background: url(../img/sprite.png) scroll -112px -439px no-repeat;
    margin-top: 9px;
    margin-left: 10px;
}

div.tableWrp div.table div.content div.row div.status span{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding:10px;
	display:block;
	margin:auto;
	color:white;
	text-align:left;
	width:90%;
	font-size:13px;
	font-weight:500;
}

div.tableWrp div.table div.content div.row div.status span.orange{
	background:#f46800;
}
div.tableWrp div.table div.content div.row div.status span.gray{
	background:#8197a9;
}

div.tableWrp div.table div.content div.row div.status span.green{
	background:#53bf8a;
}

div.tableWrp div.table div.content div.row div.settings a.grayBtn{
	display: block;
    margin: auto;
	width:35px;
	height:35px;
}

div.tableWrp div.table div.content div.row div.settings a.grayBtn i{
	float: left;
    width: 26px;
    height: 20px;
    margin-top: 8px;
    margin-left: 3px;
    background: url(../img/sprite.png) scroll -167px -497px no-repeat;
}


div.tableWrp div.actionTtl{
	float: left;
    padding-left: 20px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
div.tableWrp div.actionTtl i{
	float: left;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) scroll -170px -534px no-repeat;
    margin-right: 27px;
}

div.tableWrp div.actionTtl p{
	float:left;
	color:#49505a;
	font-size:14px;
	font-weight:500;
	margin-top:3px;
}

div.tableWrp div.bottomActions{
	float:left;
	width:100%;
	background:#f4f6f7;
	border-top:1px solid #dee1e7;
	border-bottom:1px solid #dee1e7;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:65px;
	
}

div.tableWrp div.bottomActions > p{
	float:left;
	color:#49505a;
	font-size:14px;
	font-weight:500;
	margin-right:30px;
	margin-top: 13px;
}

div.tableWrp div.bottomActions div.dropdown{
	float:left;
	width:305px;
	margin-right:10px;
}

div.tableWrp div.bottomActions a.blueDarkBtn{
	float:left;
	width:100px;
}
