<header>
	<nav>
		<div style="display:block;width:100%;">
			<div style="display:inline-block;width:20%;">
				<h3>PROTOTYPE</h3>
			</div>
			<div style="display:inline-block;width:100%;">
				<div style="display:block">
					<div style="display:inline-block;margin-left:15%">
						<h5>GENERAL</h5>
						<br>
						<a href="/">Dashboard</a>
					</div>
					<div style="display:inline-block;margin-left:15%">
						<h5>PROTOTYPES</h5>
						<br>
						<a href="/projects/all">Projects</a>
					</div>
					<div style="display:inline-block;margin-left:15%">
						<br>
						<a href="/products/all?dateFrom=&dateTo=&status=All&page=1">Products</a>
					</div>
					<div style="display:inline-block;margin-left:15%">
						<h5>SETTINGS</h5>
						<br>
						<a href="/profile">Profile</a>
					</div>
					<div style="display:inline-block;margin-left:15%">
						<br>
						<a href="/logout">logout</a>
					</div>
				</div>
				<hr><hr>
			</div>
		</div>
	</nav>
</header>