<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Prototype</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<meta name="company" content="www.demax.bg" />
	<meta name="title" content="Prototype" />
	<meta name="description" content="Prototype" />
	<meta name="copyright" content="www.prototype.com" />
	<meta name="robots" content="index,follow" />
	<meta name="robots" content="all" />
	<meta name="googlebot" content="INDEX,FOLLOW" />
	<meta name="revisit-after" content="1 days" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1" />
	<meta name="format-detection" content="telephone=no" />

	<link rel="shortcut icon" href="../icon/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="../icon/favicon.ico" type="image/x-icon" />

	<link href="../css/style.css" rel="stylesheet" type="text/css" title="default" />
</head>
<body>
<!-- --------------------------------------------------------- -->
<div class="wrapper">
	<div class="headerWrapper">
		<div class="header">
			<a class="logo" href="/"></a>
			<div class="mainMenu">
				<div class="group">
					<p>General</p>
					<a class="dashboard"  href="/">
						<i></i>
						<span>Dashboard</span>
					</a>
				</div>
				<div class="group">
					<p>Prototype</p>
					<a class="projects" href="../projects">
						<i></i>
						<span>Projects</span>
						<var>2</var>
					</a>
					<a class="products active" href="../products">
						<i></i>
						<span>Products</span>
						<var>3</var>
					</a>
				</div>
				<div class="group">
					<p>Settings</p>
					<a class="profile"  href="../profile">
						<i></i>
						<span>Profile</span>
					</a>
				</div>
				<div class="logoutGroup">
					<div class="user">
						<p>Jake Nueman</p>
						<a class="logout" href="../logout">
							<i></i>
							<p>logout</p>
						</a>
					</div>
					<i class="profilePic"></i>
				</div>
			</div>
			<div class="searchWrp">
				<div class="search">
					<i class="searchIcon"></i>
					<input value="Search"/>
					<a class="clear"></a>
				</div>
				<div class="searchDropdown" style="display:none;">
					<div class="items">
						<a class="result">
							<i class="project"></i>
							<span class="type">Project name</span>
							<span class="item">Offset printing DE122</span>
						</a>
						<a class="result">
							<i class="company"></i>
							<span class="type">Company</span>
							<span class="item">Company SE123</span>
						</a>
						<a class="result">
							<i class="manager"></i>
							<span class="type">Project manager</span>
							<span class="item">John  Doe12</span>
						</a>
						<a class="result">
							<i class="product"></i>
							<span class="type">Product name</span>
							<span class="item">Wooden arm ze123</span>
						</a>
						<a class="result">
							<i class="serialNum"></i>
							<span class="type">Serial number</span>
							<span class="item">e123456</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contentWrapper">
		<div class="content">
			<div class="breadcrumbs">
				<a>Prototypes</a>
				<i></i>
				<a>Products</a>
				<i></i>
				<a>New product</a>
			</div>
			<div class="heading">
				<div class="pageTtl">
					<i class="products"></i>
					<p>Product</p>
				</div>
				<div class="action">
					<a class="blueBtn">Add &amp; Save</a>
					<a class="grayDarkBtn m-r-5" href="../products">Cancel &amp; Close</a>
				</div>
			</div>
			<div class="formCont">
				<div class="headerInfo product">
					<i></i>
					<div class="text">
						<h3>New product</h3>
						<h4>Please type product details</h4>
					</div>
				</div>
				<div class="formGroup">
					<div class="generalInfo">
						<div class="inputWrp">
							<div class="title">
								<i class="product"></i><span>Product name</span>
							</div>
							<input type="text"/>
							<span class="error">Incorrect value</span>
						</div>
						<div class="inputWrp">
							<div class="title">
								<i class="serialNum"></i><span>Serial number</span>
							</div>
							<input type="text"/>
							<span class="error">Incorrect value</span>
						</div>
						<div class="inputWrp">
							<div class="title">
								<i class="quantity"></i><span>Quantity</span>
							</div>
							<input type="text"/>
							<span class="error">Incorrect value</span>
						</div>
						<div class="inputWrp">
							<div class="title">
								<i class="project"></i><span>Project</span>
							</div>
							<div class="dropdown">
								<select>
									<option>Choose project</option>
									<option>Offset printing table</option>
									<option>Weather balloon drone</option>
									<option>Coffee cup maker</option>
								</select>
							</div>
						</div>
					</div>
					<div class="addDescription">
						<div class="header">
							<i class="description"></i>
							<p>Description</p>
						</div>
						<textarea rows="8" cols="110">
						
						</textarea>
					</div>
					<div class="attachedProducts">
						<div class="header">
							<div class="picture">
								<i class="picture"></i>
								<p>Picture</p>
							</div>
							<a class="grayDarkBtn">Upload</a>
						</div>
						<div class="list">
							<p>NO PICTURES</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
</body>
</html>