<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Prototype</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<meta name="company" content="www.demax.bg" />
	<meta name="title" content="Prototype" />
	<meta name="description" content="Prototype" />
	<meta name="copyright" content="www.prototype.com" />
	<meta name="robots" content="index,follow" />
	<meta name="robots" content="all" />
	<meta name="googlebot" content="INDEX,FOLLOW" />
	<meta name="revisit-after" content="1 days" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1" />
	<meta name="format-detection" content="telephone=no" />

	<link rel="shortcut icon" href="../icon/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="../icon/favicon.ico" type="image/x-icon" />

	<link href="../css/style.css" rel="stylesheet" type="text/css" title="default" />
</head>
<body>
<!-- --------------------------------------------------------- -->
<div class="wrapper">
	<div class="headerWrapper">
		<div class="header">
			<a class="logo" href="/"></a>
			<div class="mainMenu">
				<div class="group">
					<p>General</p>
					<a class="dashboard"  href="/">
						<i></i>
						<span>Dashboard</span>
					</a>
				</div>
				<div class="group">
					<p>Prototype</p>
					<a class="projects active" href="projects">
						<i></i>
						<span>Projects</span>
						<var>3</var>
					</a>
					<a class="products" href="products">
						<i></i>
						<span>Products</span>
						<var>2</var>
					</a>
				</div>
				<div class="group">
					<p>Settings</p>
					<a class="profile" href="profile">
						<i></i>
						<span>Profile</span>
						
					</a>
				</div>
				<div class="logoutGroup">
					<div class="user">
						<p>Jake Nueman</p>
						<a class="logout">
							<i></i>
							<p>logout</p>
						</a>
					</div>
					<i class="profilePic"></i>
				</div>
			</div>
			<div class="searchWrp">
				<div class="search">
					<i class="searchIcon"></i>
					<input value="Search"/>
					<a class="clear"></a>
				</div>
				<div class="searchDropdown" style="display:none;">
					<div class="items">
						<a class="result">
							<i class="project"></i>
							<span class="type">Project name</span>
							<span class="item">Offset printing DE122</span>
						</a>
						<a class="result">
							<i class="company"></i>
							<span class="type">Company</span>
							<span class="item">Company SE123</span>
						</a>
						<a class="result">
							<i class="manager"></i>
							<span class="type">Project manager</span>
							<span class="item">John  Doe12</span>
						</a>
						<a class="result">
							<i class="product"></i>
							<span class="type">Product name</span>
							<span class="item">Wooden arm ze123</span>
						</a>
						<a class="result">
							<i class="serialNum"></i>
							<span class="type">Serial number</span>
							<span class="item">e123456</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contentWrapper">
		<div class="content">
			<div class="windowStatusCont">
				<i class="success"></i>
				<p>Success!</p>
				<a class="close"></a>
			</div>
			<div class="breadcrumbs">
				<a>Prototype</a>
				<i></i>
				<a>Projects</a>
			</div>
			<div class="heading">
				<div class="pageTtl">
					<i class="projects"></i>
					<p>Projects(16)</p>
				</div>
				<div class="action">
					<a class="greenBtn" href="new-project">Add project</a>
					<div class="dropdown">
						<select>
							<option>Results per page:5</option>
							<option>Results per page:10</option>
						</select>
					</div>
				</div>
			</div>
			<div class="tableWrp">
				<div class="filters">
					<p>Filters</p>
					<div class="inputWrp date">
						<input value="Date from"/>
					</div>
					<div class="inputWrp date">
						<input value="Date to"/>
					</div>
					<div class="dropdown status">
						<select>
							<option>Status:All</option>
						</select>
					</div>
					<a class="blueDarkBtn">Apply</a>
					<div class="right">
						<a class="grayBtn"><span>Clear filters</span><i></i></a>
						<div class="pagination">
							<a class="arrowLeft"><i></i></a>
							<div class="center">
								<a class="active">1</a>
								<a>2</a>
								<a>3</a>
							</div>
							<a class="arrowRight disabled"><i></i></a>
						</div>
					</div>
				</div>
				<div class="table">
					<div class="header">
						<div class="checkbox"><a class="checkbox"><i></i></a></div>
						<span class="number">#</span>
						<a class="date"><i class="sort up"></i>Created</a>
						<span class="projectName">Project name</span>
						<span class="companyName">Company name</span>
						<span class="projectManager">Project manager</span>
						<a class="products"><i class="sort up"></i>Products</a>
						<div class="status">Status</div>
						<div class="settings"><i></i></div>
					</div>
					<div class="content">
						<div class="row">
							<div class="checkbox"><a class="checkbox active"><i></i></a></div>
							<span class="number">4</span>
							<span class="date">19.12.2018</span>
							<span class="projectName">Offset printing table</span>
							<span class="companyName">Demax DPI</span>
							<span class="projectManager">Ivan Todorov</span>
							<div class="products">
								<span>4</span>
								<a class="grayBtn"><i></i></a>
							</div>
							<div class="status"><span class="orange">in progress</span></div>
							<div class="settings"><a class="grayBtn" href="edit-project"><i></i></a></div>
						</div>
						<div class="row">
							<div class="checkbox"><a class="checkbox"><i></i></a></div>
							<span class="number">3</span>
							<span class="date">19.12.2018</span>
							<span class="projectName">Weather baloon drone</span>
							<span class="companyName">Infocom OOD</span>
							<span class="projectManager">Georgi Vasilev</span>
							<div class="products">
								<span>10</span>
								<a class="grayBtn"><i></i></a>
							</div>
							<div class="status"><span class="orange">in progress</span></div>
							<div class="settings"><a class="grayBtn" href="edit-project"><i></i></a></div>
						</div>
						<div class="row">
							<div class="checkbox"><a class="checkbox"><i></i></a></div>
							<span class="number">2</span>
							<span class="date">17.12.2018</span>
							<span class="projectName">Coffee cup maker</span>
							<span class="companyName">Rioba Limited</span>
							<span class="projectManager">Vasil Ivanov</span>
							<div class="products">
								<span>2</span>
								<a class="grayBtn"><i></i></a>
							</div>
							<div class="status"><span class="gray">New</span></div>
							<div class="settings"><a class="grayBtn" href="edit-project"><i></i></a></div>
						</div>
						<div class="row">
							<div class="checkbox"><a class="checkbox"><i></i></a></div>
							<span class="number">1</span>
							<span class="date">16.12.2018</span>
							<span class="projectName">iPhone case printer</span>
							<span class="companyName">ShtampaBay.com</span>
							<span class="projectManager">John Doe</span>
							<div class="products">
								<span>1</span>
								<a class="grayBtn"><i></i></a>
							</div>
							<div class="status"><span class="green">Finished</span></div>
							<div class="settings"><a class="grayBtn" href="edit-project"><i></i></a></div>
						</div>
					</div>
				</div>
				<div class="actionTtl">
					<i></i>
					<p>With 1 projects selected:</p>
				</div>
				<div class="bottomActions">
					<p>Actions</p>
					<div class="dropdown">
						<select>
							<option>Select</option>
							<option>Change status to New</option>
							<option>Change status to In progress</option>
							<option>Change status to Finished</option>
							<option>Delete</option>
						</select>
					</div>
					<a class="blueDarkBtn">Apply</a>
				</div>
			</div>
			
		</div>
	</div>
</div>
</body>
</html>